<h1>Data Binding</h1>

<h2>String Interpolation</h2>
<p>Me llamo {{nombre}}</p>

<h2>Property Binding</h2>
<input type="text"[disabled]="activo">
<p [ngStyle]="{'color':'blue'}">Un texto de color azul</p>
<p>Mi numero preferido es el {{num}}</p>

<h2>Event Binding</h2>
<button type="button" (click)="cambiarActivo()">Click</button>
<h2>Two Way DataBinding</h2>
<p>{{usuario.nombre}}   {{usuario.apellido}}</p>
<input type="text"[(ngModel)]="usuario.nombre">
<input type="text"[(ngModel)]="usuario.apellido">